<h3>Interpolation</h3>
<h4>Variable</h4>
<app-interpolation-variable/>
<h4>Object</h4>
<app-interpolation-object/>
<h4>Interface</h4>
<app-interpolation-interface/>

<h3>Event Binding</h3>
<h4>Simple</h4>
<app-event-binding-simple/>
<h4>Method</h4>
<app-event-binding-method/>

<h3>Class Binding</h3>
<h4>Direct</h4>
<app-class-binding-direct-txt-color/>
Se asigna una clase de manera dinamica de acuerdo al valor que se tiene en button_disabled
<app-class-binding-direct-btn-disabled/>
<app-class-binding-multiple-btn-disabled/>

<h3>Property Binding</h3>
<h4>Toggle Property</h4>
<app-property-binding-btn-disabled/>
<h4>Modify Property</h4>
<app-property-binding-img-toggle/>

<h3>template variable</h3>
Las #templateVariable solo se recomiendan utilizar en formularios sencillos
<app-template-variable/>

<h3>ngIf</h3>
<app-directive-ngif/>

<h3>ngFor</h3>
<app-directive-ngfor/>

<h3>ngSwitch</h3>
<app-directive-ngswitch/>

